
#left, #right {
    flex-direction: column;
}

#left {
    width: 35%;
}

#right {
    width: 65%;
}

.icon {
    width: 2vh;
    height: 2vh;
}

#left {
    background: linear-gradient(to top, #E1DED9,white);
}

figure > img {
    width: 15vh;
    border-radius: 50%;
}

#identity {
    background-color: #205618;
    color: #fff;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}

.personnality figure {
    display: flex;
    align-items: center;
}

section h2 {
    margin: 3rem 0 1rem 0;
    border-bottom: black solid 1px;
    width: 80%;
}

.personnality ul, .personnality table, .personnality ul li, .icon, dl   {
    margin: 1rem;
}

.personnality ul li {
    list-style-type: circle;
}

.personnality table tbody tr th, .personnality table tbody tr td{
    padding:  1rem;
    text-align: left;
}

dl > *{
    padding: 0.3rem;
}

dd ul li {
    margin-left: 1.5rem;
}



/*
a revoir
 */
dt:nth-child(even){
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (max-width: 800px) {
    h1 {
        text-align: center;
    }

}

@media screen and (max-width: 450px) {

    main {
        margin : 0;
        font-size: 0.8rem;
    }

    #left, #right {
        margin: 0;
    }

    figure > img {
        width: 10vh;
    }

    h1 {
        font-size: 1rem;
    }

    h2{
        font-size: 0.9rem;
    }

    h3 {
        font-size: 0.8rem;
    }

    .personnality table {
        margin: 0;
    }

    .personnality table tbody tr th, .personnality table tbody tr td {
        padding: 0.2rem;
    }
}