.main_mail {
    width: 100%;
}
fieldset{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1rem;
    border: none;
}

section{
    width: 80%;
}

nav {
    width: 20%;
}

input, label, textarea {
    width: 100%;
    margin-top: 0.5rem;
}

textarea {
    height: 50rem;
}

input::placeholder, textarea::placeholder {
    color: darkgray;
}